		<header>
			<nav class="round">
				<ul>
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Directory", directory_path %></li>
					<li><%= link_to "N2N", n2n_path %></li>
					<li><%= link_to "Neighborhood W.", watch_path %></li>
					<li><%= link_to "Hospitality", hospitality_path %></li>
					<li><%= link_to "Schools", schools_path %></li>
					<li><%= link_to "Weather", weather_path %></li>
				</ul>
			</nav>
		</header>