<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
</head>
<body>
	<div class="container">
		<table border="1">
			<tr>
				<td style="WIDTH:20%">
					<% logo = image_tag("bcca_shield_inv.PNG", :alt => "DTPD", :class => "round") %>
				<%= link_to logo, root_path %>
				</td>
				<td><% logo = image_tag("broyhill_logo.PNG", :alt => "DTPD", :class => "round") %>
				<%= link_to logo, root_path %></td>
			</tr>
			<tr>
				<td style="WIDTH:20%">
					<section class="round"><%= render 'layouts/header' %></section></td>
				<td>
					<section class="round">
						<% flash.each do |key, value| %>
							<div class="flash <%= key %>">
								<%= value %>
							</div>
						<% end %>
						<%= yield %>
					</section>
				</td>
			</tr>
		</table>

		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	</div>
</body>
</html>
